.btn{
	.font-header;
	.transition(0.2s);
	.box-shadow(2px 2px 2px rgba(0,0,0,0.3));
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: #87ad35;
}
.btn:hover,.btn-hover{
	background: #7b9e30;
}
.btn-violet{
	.btn;
	background: #873550;
	&:hover,.btn-violet-hover{
		background: #722d44;
	}
}