.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clear{
	clear:both;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.img-circle {
	.border-radius(50%);
}
// xart
nav.more{
	margin:0 0 20px;
	text-align: right;
	a{
		.btn;
		&:hover{
			.btn-hover;
		}
		&:after{
			.font-icon;
			position: relative;
			font-size: 18px;
			line-height: 1;
			content: '\e802';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	th,td{
		padding:6px 8px;
		border:1px solid #000;
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: rgba(0,0,0,0.1);
	}
	th,thead td{
		font-weight:bold;
		color: #fff;
		background: @color-violet!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		color: #fff;
		background: @color-violet!important;
		a{
			color: #fff;
		}
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.box-shadow(inset 1px 1px 2px rgba(0,0,0,0.1));
		position: relative;
		border: 1px solid #cfcfcb;
		border-right: 0;
		border-bottom: 0;
		font-size: 16px;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 17px;
		padding: 6px 10px;
		color: @color-primary;
		background: #f7f6f0 url(../images/bg/13.png);
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding: 3px 6px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		background: #eae9e3;
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			.box-shadow(none);
			float: left;
			height: 30px;
			line-height: 30px;
			background: @color-link;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button,.normal-button:hover{
		.btn-hover;
	}
}
.search-results .highlight,.results .highlight{
	background: @color-link;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	background: url(../images/bg/12.png) no-repeat top;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	a:hover{
		.btn-hover;
	}
	span.pagenav{
		color: #fff;
		background: @color-violet;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 0px 0;
	height: 20px;
	overflow: hidden;
	background: url(../images/bg/12.png) no-repeat center;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	padding: 1px;
	border: 3px solid @color-link;
}
a.xeditorpopup:hover img{
	border-color: @color-violet;
}
.mod_breadcrumbs ul{
	.reset-ul;
	padding: 29px 0 0;
	li{
		position: relative;
		margin: 0 10px 0 0;
		padding: 0 0 0 18px;
		display: inline;
		font-size: 13px;
		font-weight: bold;
		color: @color-link;
		a{
			color: @color-primary;
			font-weight: normal;
		}
		&:before{
			top: 3px;
			font-size: 14px;
			line-height: 1;
			font-weight: normal;
		}
		&.home{
			z-index: 1;
			margin-right: -1px;
			&:before{
				display: none;
				padding-left: 0;
			}
			a{
				position: absolute;
				top: -4px;
				left: 0;
				text-indent: -9999px;
				text-decoration: none;
				&:before{
					.font-icon;
					.border-radius(13px);
					position: absolute;
					left: 0;
					top: 0;
					float: left;
					text-indent: 0;
					content: '\e80d';
					color: #fff;
					width: 26px;
					height: 26px;
					line-height: 26px;
					text-align: center;
					font-size: 16px;
					font-weight: normal;
					background: @color-link;
				}
			}
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		border: 1px solid @color-green;
		color: #fff;
		background: @color-green;
		ul{
			.reset-ul;
			li{
				.reset-li;
			}
		}
	}
	.notice{
		border-color: @color-link;
		background: @color-link;
	}
	.warning,.error{
		border-color: @color-violet;
		background-color: @color-violet;
	}
}
