/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #87ad35;
	color: #fff;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	.border-radius(19px);
	.transition(0.2s);
	position: absolute;
	top: -19px;
	right: -19px;
	width: 38px;
	height: 38px;
	line-height: 36px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	z-index: 8040;
	color: #fff;
	background: @color-link;
	text-decoration: none;
	&:before{
		content: '\2716';
	}
	&:hover{
		background: @color-violet;
	}
}

.fancybox-nav {
	position: absolute;
	top: 50%;
	width: 45px;
	height: 90px;
	margin-top: -45px;
	cursor: pointer;
	text-decoration: none;
	z-index: 8040;
	overflow: hidden;
}

.fancybox-prev {
	right: 100%;
}

.fancybox-next {
	left: 100%;
}

.fancybox-nav span {
	.border-radius(45px);
	position: absolute;
	top: 0;
	width: 90px;
	height: 90px;
	background: #edd1a2;
	color: @color-link;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav span:hover{
	background: @color-green;
	color: #fff;
}

.fancybox-nav span:before{
	.font-icon;
	position: absolute;
	line-height: 90px;
	width: 45px;
	text-align: center;
	top: 0;
	font-size: 34px;
}

.fancybox-prev span {
	left: 0;
}

.fancybox-prev span:before{
	content: '\e804';
	left: 0;
}

.fancybox-next span {
	right: 0;
}

.fancybox-next span:before{
	content: '\e805';
	right: 0;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: #000;
	background: rgba(0,0,0,0.7);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	.font-header;
	font-size: 23px;
	line-height: 1;
	text-align: left;
	padding: 20px 30px 7px 30px;
}

.fancybox-title-inside-wrap small{
	.font-primary;
	font-size: 13px;
}

.fancybox_with_contact .fancybox-title-inside-wrap{
	position: relative;
	padding-right: 390px;
	min-height: 55px;
}
.fancybox_with_contact .label{
	.font-primary;
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	width: 280px;
	background: #9fbd4d;
	font-size: 13px;
	line-height: 1.4;
	padding: 12px 10px 16px 100px;
	&:before{
		.font-icon;
		.border-radius(28px);
		position: absolute;
		top: 13px;
		left: 20px;
		content: '\e80b';
		width: 56px;
		height: 56px;
		font-size: 43px;
		line-height: 60px;
		text-align: center;
		color: #6e6b46;
		background: #eaf2cb;
	}
	mark{
		.font-header;
		font-size: 16px;
		background: none;
		color: #fff;
		&.big{
			font-size: 23px;
		}
	}
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
