@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext);
@import url(../fontello/css/erlis-icons.css);
.font-primary{
	font-family: 'Open Sans', sans-serif;
}
.font-header{
	font-family: 'Open Sans Condensed', sans-serif;
}
.font-icon{
	font-family: 'erlis-icons';
}
