.border-radius(@n:6px){
	-webkit-border-radius: @n;
	-moz-border-radius: @n;
	-ms-border-radius: @n;
	-o-border-radius: @n;
	border-radius: @n;
}
.box-shadow(@n:0 0 6px #000){
	-webkit-box-shadow: @n;
	-moz-box-shadow: @n;
	-ms-box-shadow: @n;
	-o-box-shadow: @n;
	box-shadow: @n;
}
.rotate(@n:30deg){
	-webkit-transform: rotate(@n);
	-moz-transform: rotate(@n);
	-ms-transform: rotate(@n);
	-o-transform: rotate(@n);
	transform: rotate(@n);
}
.text-shadow(@n:1px 1px 1px #000){
	text-shadow: @n;
}
.transition(@n:0.2s){
	-webkit-transition:@n;
	-moz-transition:@n;
	-ms-transition:@n; 
	-o-transition:@n;  
	transition:@n;
}
.opacity(@n:0.5){
	-webkit-opacity: @n;
	-moz-opacity: @n;
	-o-opacity: @n;
	opacity: @n;
	@opperc: @n * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";
}
