@media (max-width: 1380px){
	.mod_custom-images{
		.related{
			clear: both;
			padding: 20px 0;
			.prev,.next{
				float: left;
				position: relative;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				&:before{
					display: none;
				}
			}
			.next{
				float: right;
			}
		}
	}
}