@font-face {
  font-family: 'erlis-icons';
  src: url('../font/erlis-icons.eot?20039299');
  src: url('../font/erlis-icons.eot?20039299#iefix') format('embedded-opentype'),
       url('../font/erlis-icons.woff?20039299') format('woff'),
       url('../font/erlis-icons.ttf?20039299') format('truetype'),
       url('../font/erlis-icons.svg?20039299#erlis-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'erlis-icons';
    src: url('../font/erlis-icons.svg?20039299#erlis-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "erlis-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-circled:before { content: '\e800'; } /* '' */
.icon-up-circled:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e802'; } /* '' */
.icon-left-circled:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-angle-up:before { content: '\e806'; } /* '' */
.icon-angle-down:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-laptop:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-align-justify:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-doc-text:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-calculator:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-help-circled:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-commerical-building:before { content: '\e819'; } /* '' */
.icon-industrial-building:before { content: '\e81a'; } /* '' */
.icon-thumbs-up:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-users:before { content: '\e81d'; } /* '' */
.icon-info-circled:before { content: '\e81e'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e820'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e821'; } /* '' */
.icon-pencil-squared:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e823'; } /* '' */
.icon-comment-empty:before { content: '\e824'; } /* '' */
.icon-chat-empty:before { content: '\e825'; } /* '' */
.icon-docs:before { content: '\e826'; } /* '' */
.icon-doc:before { content: '\e827'; } /* '' */
.icon-doc-text-inv:before { content: '\e828'; } /* '' */
.icon-doc-inv:before { content: '\e829'; } /* '' */
.icon-calendar-empty:before { content: '\e82a'; } /* '' */
.icon-up-open:before { content: '\e82b'; } /* '' */
.icon-right-open:before { content: '\e82c'; } /* '' */
.icon-left-open:before { content: '\e82d'; } /* '' */
.icon-down-open:before { content: '\e82e'; } /* '' */
.icon-tablet:before { content: '\e82f'; } /* '' */
.icon-mobile:before { content: '\e830'; } /* '' */
.icon-desktop:before { content: '\e831'; } /* '' */
.icon-ok-circled:before { content: '\e832'; } /* '' */