
.icon-down-circled:before { content: '\e800'; } /* '' */
.icon-up-circled:before { content: '\e801'; } /* '' */
.icon-right-circled:before { content: '\e802'; } /* '' */
.icon-left-circled:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-angle-up:before { content: '\e806'; } /* '' */
.icon-angle-down:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-laptop:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80d'; } /* '' */
.icon-align-justify:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-doc-text:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-calculator:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-help-circled:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-money:before { content: '\e818'; } /* '' */
.icon-commerical-building:before { content: '\e819'; } /* '' */
.icon-industrial-building:before { content: '\e81a'; } /* '' */
.icon-thumbs-up:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-users:before { content: '\e81d'; } /* '' */
.icon-info-circled:before { content: '\e81e'; } /* '' */
.icon-thumbs-down:before { content: '\e81f'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e820'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e821'; } /* '' */
.icon-pencil-squared:before { content: '\e822'; } /* '' */
.icon-pencil:before { content: '\e823'; } /* '' */
.icon-comment-empty:before { content: '\e824'; } /* '' */
.icon-chat-empty:before { content: '\e825'; } /* '' */
.icon-docs:before { content: '\e826'; } /* '' */
.icon-doc:before { content: '\e827'; } /* '' */
.icon-doc-text-inv:before { content: '\e828'; } /* '' */
.icon-doc-inv:before { content: '\e829'; } /* '' */
.icon-calendar-empty:before { content: '\e82a'; } /* '' */
.icon-up-open:before { content: '\e82b'; } /* '' */
.icon-right-open:before { content: '\e82c'; } /* '' */
.icon-left-open:before { content: '\e82d'; } /* '' */
.icon-down-open:before { content: '\e82e'; } /* '' */
.icon-tablet:before { content: '\e82f'; } /* '' */
.icon-mobile:before { content: '\e830'; } /* '' */
.icon-desktop:before { content: '\e831'; } /* '' */
.icon-ok-circled:before { content: '\e832'; } /* '' */